<h3 class="ui header">{{t "forms.i-i-s-zayavki-заявка-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-zayavki-заявка-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-zayavki-заявка-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-zayavki-заявка-e.клиент-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.клиент
      displayAttributeName="имя"
      autocomplete=true
      relationName="клиент"
      projection="КлиентL"
      title=(t "forms.i-i-s-zayavki-заявка-e.клиент-caption")
      readonly=readonly
      componentName="клиентLookup"
      class=(if (v-get validationModel "клиент" "isInvalid") "error")
      data-test-i-i-s-zayavki-заявка-e-клиент=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "клиент" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-zayavki-заявка-e.услуга-caption"}}</label>
    {{flexberry-groupedit
      componentName="услугаGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.услуга
      content=model.услуга
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "услуга" "isInvalid") "error")
      data-test-i-i-s-zayavki-заявка-e-услуга=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "услуга" "message")}}
  </div>
</form>
